* {
  font-family: "Maple Mono", monospace;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 0;
}

/* Deixa a barra principal invisível */
window#waybar {
  background: transparent;
}

/* Estilo comum para os 3 blocos (Esquerda, Centro, Direita) */
.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(20, 18, 22,0.7) ;
  border-radius: 14px;
  padding: 2px 10px;
  margin-top: 5px;
  border: 1px solid white;
}

/* Ajuste específico para os módulos dentro dos blocos */
#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {
  color: #d8cab8;
  background: transparent; /* Remove o fundo individual que estava desalinhando */
  padding: 4px 8px;
  margin: 0; /* Remove margens que causam descentralização */
  transition-duration: 120ms;
}



/* Efeito de hover apenas para os itens clicáveis */
#pulseaudio:hover,
#custom-applauncher:hover {
  color: #ac82e9;
}

/* Ajustes para os Workspaces (Hyprland/Sway) */
#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  background-color: #441782;
  border-radius: 32px;
  font-weight: bold;
  color: #d8cab8;
  padding: 4px 8px;
  margin: 0 2px;

} 
#workspaces button.active,
#workspaces button.focused {
  color: #ffffff;
}

#workspaces button:hover {
  color: #ffffff;
}

/* Cores de alerta para bateria */
#battery.warning,
#battery.critical {
  color: #fc4649;
}